@tailwind base;
@tailwind components;
@tailwind utilities;



/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  
  --shadow-text: 3px 4px 0px var(--black);
  --shadow1: 1px 2px 0px var(--black);
  --shadow2: 2px 3px 0px var(--black);
  --shadow3: 5px 6px 0px var(--black);

} */
/* 
.shadow {
  box-shadow: var(--shadow-text);
}
.shadow1 {
  box-shadow: var(--shadow1);
}
.shadow2 {
  box-shadow: var(--shadow2);
}
.shadow3 {
  box-shadow: var(--shadow3);
}
 */

/* button animate */
/* button.shadow1:hover:enabled {
  box-shadow: 2px 3px 0px 0px var(--black);
  transform: translate(-1px, -1px);
}
button.shadow2:hover:enabled,
select.shadow2:hover {
  box-shadow: 4px 5px 0px 0px var(--black);
  transform: translate(-2px, -2px);
}
button.shadow3:hover:enabled {
  box-shadow: 7px 8px 0px 0px var(--black);
  transform: translate(-2px, -2px);
}

button {
  transition:
      transform 0.1s ease-in-out,
      box-shadow 0.1s ease-in-out;
  &:hover:enabled {
      opacity: 1 !important;
  }

  &.shadow1:active:enabled {
      box-shadow: unset !important;
      transform: scale(0.99) translate(2px, 2px) !important;
  }
  &.shadow2:active:enabled {
      box-shadow: unset !important;
      transform: scale(0.99) translate(3px, 3px) !important;
  }
  &.shadow3:active:enabled {
      box-shadow: unset !important;
      transform: scale(0.99) translate(4px, 4px) !important;
  }
} */


.err{
  background-color: #ff5f5f;
  height: 30px;
  width: 80px;
  border-radius: 10%;
  color: white;
  font-size: 10px;
  font-weight: 700;
}

.bl{
  background-color: #7cabf6;
  height: 30px;
  width: 78px;
  border-radius: 10%;
  color: white;
  font-size: 10px;
  font-weight: 700;
}

.vd{
  width: 140px;
}